/**
  * File CCS per l'abbellimento del sito
  * @author Andrea Atzeni
  **/

body {
    background-color: #ffffff;
    font: 16px/19px "Courier New",Arial,sans-serif;
    width: 1000px;
    margin: 1px auto;
}

header {
    background-color: #996666;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#header{
    background-image: url('../images/logo.png');
    background-size: 110px 110px;
    background-repeat: no-repeat;
    background-position: center left;
    height: 95px;
    padding-left: 10px;
    line-height: 150px;
}

#header h1{
    font-size: 3em;
    margin: 1px;
}

#sidebar1{
    background-color: #669966;
    float: left;
    width: 250px;
    height: 450px;    
    font-size: 13px;
}

#sidebar1 ul{
    list-style-type: none;
    padding-left: 10px;
}

#sidebar1 a:link, #sidebar1 a:visited{
    color: white;
    text-decoration: none;
}

#content a:link, #content a:visited{
    color: #996666;
    text-decoration: none;
}

#sidebar1 h2{
    padding-left: 10px;
    color: white;
}

#content {
    margin-left: 225px;
    margin-right: 25px;
    padding: 10px;
    padding-left: 50px;
}

#footer{
    text-align: center;
    background-color: #996666;
    padding: 10px;
    padding-bottom: 10px;
    color: white;
}

#footer a:link, #footer a:visited{
    color: white;
    text-decoration: none;
}

#content a:link, #content a:visited {
    color: #996666;
}

a:hover{
    font-weight: bold;
}

#page {
    border: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    box-shadow: 0px 0px 10px;
    background-color: white;
}

#clear{
    clear: both; 
    width: 0px; 
    height: 0px;
}

#htmlval{
    background-image: url('../images/html.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding: 60px;
}

#cssval{
    background-image: url('../images/css.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding: 50px;
}

#top p {
    float: left;
    margin: 10px;
}

#top {
    height: 20px;
}

.input-form input[type="submit"], .input-form button {
    width: 35px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

label {
    width: 20%;
    display: inline-block;
}

.input-form input{
    display: inline-block;
    width: 60%;
}

.input-form {
    line-height: 2.5em;
}

h2, h3{
    color: #000000;
}

p.logout {
    background-image: url('../images/logout.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 50px;
}

.logout a, .logout a:visited {
    color: white;
    text-decoration: none;
}

ttable {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-top:10px;
    line-height: 1.2em;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}


th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: center;
}

th{
    background-color: #996666;
    color: white;
    font-weight: bold;
}

tr.alt-row, tr.alt-row td{
    background-color: #bbc2ce;
}

.input-form select, .input-form label{
    display: inline-block;
}

input[type=submit], button{
    color: #ffffff;
    background-color: #996666;
    height: 2.5em;
    font-weight: bold;
    border: 1px solid #000000;
    min-width: 100px;
    margin-bottom: 10px;
    margin-top: 5px;

}

input[type=submit]:hover, button:hover{
    background-color: #669966;
}

.btn-group button {
    display: inline-block;
}

.btn-group {
    text-align: center;
}

div.error {
    color: red;
}

div.confirm{
    color: green;
}
